.nav {
  background-color: rgb(53, 45, 45);
  /* background-color: rgb(9, 127, 245); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}
.nav button {
  border-radius: 5px;
  height: 25px;
  background-color: rgba(117, 107, 107, 0.455);
  color: white;
  padding: 0 15px 0 15px;
  font-size: 13px;
  border: 0px;
  margin: 8px;
}

.nav img {
  width: 400px;
  position: absolute;
  top: 10%;
}
