.contenedor {
  display: grid;
  padding: 10px;
  justify-content: center;
  margin: 10px;
  justify-content: space-around;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
}

.contenedor div {
  border-radius: 30px;
}
