.contenedor {
  background-color: rgba(128, 0, 128, 0.537);
  color: yellow;
  padding: 8px;
  width: fit-content;
  box-shadow: 26px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 26px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 26px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Climate Crisis", cursive;
  border: 1px solid transparent;
  transform: scale(0.85);
  animation: 1.3s infinite alternate shadow;
  text-align: center;
}

.contenedor:hover {
  border: 3px solid;
}

.text:hover {
  opacity: 1;
  animation-composition: initial;
}
.text {
  width: fit-content;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: 0.8s;
}

.name {
  border-radius: 5px;
  width: fit-content;
  color: yellow;
}

.image {
  width: fit-content;
  align-items: center;
  border-radius: 10px;
}

.botons {
  display: flex;
  background-color: red;
  color: white;
  position: relative;
  left: 45%;
  margin: 5px;
  border-radius: 100px;
}

@keyframes shadow {
  from {
    box-shadow: 0px 0px 29px 8px rgba(255, 3, 221, 0.6);
  }
  to {
    box-shadow: 0px 0px 29px 8px rgba(255, 3, 221, 1);
  }
}
